<div class="auth-header">
  <a class="back-link" routerLink="/">
    ← Voltar para a página inicial
  </a>
</div>

<section class="auth-card">
  <div class="auth-visual">
    <h2>♻ E-LIXO ZERO</h2>
    <h3>Crie sua conta</h3>
    <p>Cadastre-se para solicitar coletas e encontrar pontos de descarte.</p>
    <img src="images/login.png" alt="Ilustração de cadastro" />
  </div>

  <div class="auth-form">
    <h1>Cadastro</h1>

    <label>Nome completo</label>
    <input
      class="form-input"
      type="text"
      placeholder="Digite seu nome"
      [(ngModel)]="nome"
    />

    <label>E-mail</label>
<input
  class="form-input"
  type="email"
  placeholder="seu@email.com"
  [(ngModel)]="email"
/>

<label>Logradouro</label>
<input
  class="form-input"
  type="text"
  placeholder="Rua, Avenida..."
  [(ngModel)]="logradouro"
/>

<label>Número</label>
<input
  class="form-input"
  type="text"
  placeholder="123"
  [(ngModel)]="numero"
/>

<label>Bairro</label>
<input
  class="form-input"
  type="text"
  placeholder="Centro"
  [(ngModel)]="bairro"
/>

<label>Cidade</label>
<input
  class="form-input"
  type="text"
  placeholder="Santa Rita do Sapucaí"
  [(ngModel)]="cidade"
/>

<label>Senha</label>
<input
  class="form-input"
  type="password"
  placeholder="Crie uma senha"
  [(ngModel)]="senha"
/>

    <label>Confirmar senha</label>
    <input
      class="form-input"
      type="password"
      placeholder="Confirme sua senha"
      [(ngModel)]="confirmarSenha"
    />

    <p class="erro" *ngIf="erro">{{ erro }}</p>

    <button class="btn btn-primary full" type="button" (click)="cadastrar()">
      Cadastrar
    </button>

    <p class="switch">
      Já tem uma conta?
      <a routerLink="/login">Entrar</a>
    </p>
  </div>
</section>
