<div class="page-title">
  <h1>Perfil</h1>
  <p>Visualize suas informações cadastradas.</p>
</div>

<div class="card perfil-card" *ngIf="usuario">
  <div class="avatar">
    {{ usuario.nome.charAt(0) }}
  </div>

  <div>
    <h2>{{ usuario.nome }}</h2>
    <p>{{ usuario.email }}</p>
  </div>
</div>

<div class="card dados" *ngIf="usuario">
  <h3>Dados da conta</h3>

  <div class="linha">
    <strong>Nome</strong>
    <span>{{ usuario.nome }}</span>
  </div>

  <div class="linha">
    <strong>E-mail</strong>
    <span>{{ usuario.email }}</span>
  </div>

  <div class="linha">
    <strong>Logradouro</strong>
    <span>{{ usuario.logradouro }}</span>
  </div>

  <div class="linha">
    <strong>Número</strong>
    <span>{{ usuario.numero }}</span>
  </div>

  <div class="linha">
    <strong>Bairro</strong>
    <span>{{ usuario.bairro }}</span>
  </div>

  <div class="linha">
    <strong>Cidade</strong>
    <span>{{ usuario.cidade }}</span>
  </div>
</div>